@CHARSET "UTF-8";
#title{
	float:left;
	font-size:20px;
	color: #ff3300;
}
#query{
	float:right
}

#mainTable{
	padding-top: 50px;
}
th{
	background-color:#666699;
	color:white;
}
tr{
	color: #99ffcc;
	background-color:#999966;
}
tr:hover{
	background-color: #336600;
}
.id{
	width: 10%;
	background-color: #ff9933;
}
.title{
	width: 30%;
}
.userid{
	width: 20%;
}
.pubtime{
	width: 40%;
}
